<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <input type="checkbox" id="switchInput" />
    <div class="wrapper">
      <div class="user-container">
        <label for="nickname">닉네임 :&nbsp;</label>
        <input type="text" id="nickname" maxlength="3" placeholder="최대3글자">
          <label class="switch" for="switchInput"><div class="circle"></div></label>
          <div class="section">
            <div class="light">
              라이트모드
            </div>
            <div class="dark">
              &nbsp&nbsp&nbsp다크모드
            </div>
          </div>
      </div>
      <div class="display-container">
        <ul class="chatting-list">
          <li class="sent">

          </li>
          <li class="received">

          </li>
        </ul>
      </div>
      <div class="input-container">
        <span>
          <input type="text" class="chatting-input" placeholder="전송하실 내용을 입력하세요">
          <button class="send-button">전송</button>
        </span>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chat.js"></script>
  </body>
</html>
